.about
	&__text
		text-align: justify
		margin: 65px 0
		+fluidFontSize(14,17,350,1170)
		line-height: 1.9
		+Roboto-Light
	&__img
		margin-bottom: 25px
	&__icon
		display: block
		margin: 0 auto
		height: 150px
	&__title
		text-transform: uppercase
		text-align: center
		+fluidFontSize(14,17,350,1170)
	&__descr
		margin-top: 15px
		min-height: 150px
		line-height: 1.4
		text-align: center
		+fluidFontSize(13,15,350,1170)
		+Roboto-Light
	&__btn
		display: block
		width: 40%
		text-transform: none
		font-size: 13px
		margin: 0 auto
		opacity: 0.7
	&__subtitle
		font-size: 11px
		opacity: 0.7
		margin-top: 15px
		text-align: center
	&__buttons
		margin: 40px 0
	&__register-btn
		margin-right: 15px
	&__subscribe-btn
		background-color: $metalcolor
