.contacts
	&__wrap
		margin-top: 40px
	&-item
		margin-bottom: 20px
		@include _768
			&:nth-child(1)
				margin-top: 40px
		&__title
			text-transform: uppercase
			+Roboto-Medium
		&__name
			margin: 5px 0
		&__email
			color: $activecolor
			text-decoration: underline
			margin: 10px 0
.feedback
	&__wrap
		margin-bottom: 40px
	&__hotline
		margin-top: 20px
		text-align: justify
	&__link
		text-transform: uppercase
		text-decoration: underline
		color: $activecolor
