.header
	&-menu
		&__wrap
			background-color: $metalcolor
		&__item
			padding: 15px 15px
			margin: 10px 0
			color: $whitecolor
			border-right: 1px solid rgba(255,255,255, 0.07)
			font-size: 0.938rem
			transition: all 0.3s
			position: relative
			&:hover
				background-color: $activecolor
				& .header-submenu
					transition: all 0.3s
					opacity: 1
					visibility: visible
					top: 45px
			&:nth-child(4)
				border-right: none
			&:nth-child(1)
		&--btn
			background-color: $btn-light
			color: $metalcolor
			@include _768
				width: 100%
				margin-bottom: 10px
				font-size: 1rem
			&:hover
				cursor: pointer
				box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.349)
	&-submenu
		opacity: 0
		visibility: hidden
		display: flex
		flex-flow: column wrap
		background-color: $whitecolor
		width: 270px
		height: auto
		z-index: 99
		position: absolute
		left: 0px
		top: 100px
		color: #000
		&__link
			padding: 10px
			transition: all 0.3s
			&:hover
				background-color: $activecolor
				color: $whitecolor
	&-top
		&__wrap
			margin-top: 15px
		&__items
			display: flex
			flex-direction: row
			@include _768
				flex-direction: column
				margin-bottom: 10px
		&__item
			width: 50%
			margin-right: 10px
			display: flex
			align-items: center
			@include _768
				width: 100%
				margin-bottom: 10px
		&__icon
			display: inline-block
			border: 0.3px solid $metalcolor
			border-radius: 3px
			padding: 3px
			margin-right: 10px
		&__img
			width: 22px
			height: 29px
		&__text
			text-transform: uppercase
			font-size: 1.071rem
			position: relative
			padding: 5px
			&::after
				content: ""
				position: absolute
				transform: scaleX(0)
				height: 2px
				background-color: $metalcolor
				bottom: 0px
				right: 0
				left: 0
				transition: 0.3s
			&:hover
				&::after
					transform: scaleX(1)
			+Roboto-Light
		&--btn
			@include _768
				width: 100%
				margin-bottom: 10px
				font-size: 1rem
.menu
	&__container
		display: flex
		flex-flow: row wrap
		width: 100%
		@include _768
			justify-content: center
