
.hero
	&-container
		padding: 100px 20px
	&-slider
		position: relative
		&-arrows
			&__container
				display: flex
				flex-direction: row
				justify-content: space-between
				width: 450px
				position: absolute
				top: 30%
			@include _768
				display: none
			&__left
				transform: translateX(-20px)
				background-color: $whitecolor
			&__right
				background-color: $whitecolor
	&-slide
		display: flex
		flex-flow: row wrap
		justify-content: space-between
		background-color: #f5f3f1
		padding: 15px
		border: 2px solid rgba(201,156 ,71 , 0.4)
		&__wrap
			padding: 0 5px
		&__border
			padding: 8px
			border: 2px solid $whitecolor
			background-color: transparent
		&__date
			width: 30%
			margin: auto
			color: $activecolor
			text-transform: uppercase
			text-align: center
			font-size: 1.575rem
			padding: 15px 5px
			border: 2px solid $activecolor
			line-height: 1
			background-color: $whitecolor
			line-height: 0.8
			&-small
				display: inline-block
				font-size: 1.125rem
				margin: 10px 0
			+Roboto-Black
		&__text
			width: 70%
			padding: 10px 15px
			text-align: justify
		&__title
			color: $activecolor
			text-transform: uppercase
			margin-bottom: 10px
			font-size: 0.875rem
		&__descr
			font-size: 0.813rem
			line-height: 1.4
			+Roboto-Light
