@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.2;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

li {
  display: inline-block;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url("../fonts/Roboto-Thin.eot");
  src: url("../fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url("../fonts/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url("../fonts/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Roboto-Regular', 'Helvetica', sans-serif;
  font-weight: 400;
  font-size: 10px;
}

.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: calc( 0.00244 * 100vw + 21.14634px);
  padding: 50px 0 40px;
  font-family: 'Roboto-Medium', sans-serif;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.background-color {
  background-color: f8f3e9;
}

.btn {
  padding: 15px 25px;
  width: 100%;
  text-transform: uppercase;
  border: none;
  outline: none;
  color: white;
  background-color: #c99c47;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: calc( 0.00366 * 100vw + 8.71951px);
  font-family: 'Roboto-Regular', sans-serif;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.3);
}

.btn--light {
  background-color: #e8d8b6;
  color: #323232;
}

.btn--light:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.349);
          box-shadow: 0px 5px 10px 2px rgba(255, 255, 255, 0.349);
}

.form__wrap {
  margin: 50px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__title {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.form__item {
  width: 50%;
  margin-bottom: 20px;
  color: #555555;
}

.form__item--big {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .form__item {
    width: 100%;
  }
}

.form__label {
  padding-left: 15px;
}

.form__email, .form__textarea, .form__btn {
  width: 100%;
}

.form__textarea {
  height: 120px;
  margin-bottom: 50px;
  resize: none;
  padding-top: 10px;
}

.form__btn {
  width: 100%;
  margin: 0 auto;
  background-color: #323232;
  background-image: none;
  opacity: 0.7;
}

input:invalid {
  border-color: red;
  color: red;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.header-menu__wrap {
  background-color: #323232;
}

.header-menu__item {
  padding: 15px 15px;
  margin: 10px 0;
  color: white;
  border-right: 1px solid rgba(255, 255, 255, 0.07);
  font-size: calc( 0.00366 * 100vw + 10.71951px);
}

.header-menu__item:nth-child(4) {
  padding-right: 0px;
  border-right: none;
}

.header-menu__item:nth-child(1) {
  padding-left: 0px;
}

.header-top__wrap {
  margin-top: 15px;
}

.header-top__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-top__item {
  width: 50%;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__icon {
  display: inline-block;
  border: 0.3px solid #323232;
  border-radius: 3px;
  padding: 3px;
  margin-right: 10px;
}

.header-top__img {
  width: 22px;
  height: 29px;
}

.header-top__text {
  text-transform: uppercase;
  font-size: calc( 0.00366 * 100vw + 10.71951px);
  position: relative;
  padding: 5px;
  font-family: 'Roboto-Light', sans-serif;
}

.header-top__text::after {
  content: "";
  position: absolute;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  background-color: #323232;
  bottom: 0px;
  right: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header-top__text:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.hero-slider {
  padding: 120px 20px;
}

.hero-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f5f3f1;
  padding: 15px;
  border: 2px solid rgba(201, 156, 71, 0.4);
}

.hero-slide__wrap {
  padding: 8px;
  border: 2px solid white;
  background-color: transparent;
}

.hero-slide__date {
  width: 30%;
  margin: auto;
  color: #c99c47;
  text-transform: uppercase;
  text-align: center;
  font-size: calc( 0.00488 * 100vw + 24.29268px);
  padding: 25px 5px;
  border: 2px solid #c99c47;
  line-height: 1;
  background-color: white;
  line-height: 0.8;
  font-family: 'Roboto-Black', sans-serif;
}

.hero-slide__date-small {
  display: inline-block;
  font-size: calc( 0.00244 * 100vw + 15.14634px);
  margin-bottom: 5px;
}

.hero-slide__text {
  width: 70%;
  padding: 10px 15px;
  text-align: justify;
}

.hero-slide__title {
  color: #c99c47;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: calc( 0.00244 * 100vw + 11.14634px);
}

.hero-slide__descr {
  font-size: calc( 0.00122 * 100vw + 11.57317px);
  line-height: 1.4;
  font-family: 'Roboto-Light', sans-serif;
}

.about__text {
  text-align: justify;
  margin: 65px 0;
  font-size: calc( 0.00366 * 100vw + 12.71951px);
  line-height: 1.9;
  font-family: 'Roboto-Light', sans-serif;
}

.about__img {
  margin-bottom: 25px;
}

.about__icon {
  display: block;
  margin: 0 auto;
  height: 150px;
}

.about__title {
  text-transform: uppercase;
  text-align: center;
  font-size: calc( 0.00366 * 100vw + 12.71951px);
}

.about__descr {
  margin-top: 15px;
  min-height: 150px;
  line-height: 1.4;
  text-align: center;
  font-size: calc( 0.00244 * 100vw + 12.14634px);
  font-family: 'Roboto-Light', sans-serif;
}

.about__btn {
  display: block;
  width: 40%;
  text-transform: none;
  font-size: 13px;
  margin: 0 auto;
  opacity: 0.7;
}

.about__subtitle {
  font-size: 11px;
  opacity: 0.7;
  margin-top: 15px;
  text-align: center;
}

.about__buttons {
  margin: 40px 0;
}

.about__register-btn {
  margin-right: 15px;
}

.about__subscribe-btn {
  background-color: #323232;
}

.review-item__wrap {
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-item__icon {
  width: 20%;
}

.review-item__img {
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  max-height: 120px;
  min-height: 120px;
  max-width: 120px;
  min-width: 120px;
  width: auto;
  position: relative;
  background-color: #fff;
}

.review-item__nofoto {
  position: absolute;
  top: 42px;
  left: 38px;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.review-item__box {
  width: 70%;
  background-color: #fff;
  padding: 20px;
  position: relative;
}

.review-item__box::before {
  content: "";
  position: absolute;
  top: 45px;
  left: -26px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 26.0px 15px 0;
  border-color: transparent #fff transparent transparent;
}

.review-item__names {
  font-size: 17px;
  font-family: 'Roboto-Medium', sans-serif;
}

.review-item__date {
  display: inline-block;
  padding: 11px 16px;
  color: white;
  background-color: #bbbbbd;
  font-size: 10px;
  margin: 10px 0;
  font-family: 'Roboto-Light', sans-serif;
}

.review-item__text {
  font-size: 12px;
  line-height: 1.7;
  font-family: 'Roboto-Light', sans-serif;
}
/*# sourceMappingURL=style.css.map */