body
	font-family: 'Roboto', 'Helvetica', sans-serif
	font-weight: $font-weight__sans--regular
	color: $textcolor
	+fluidFontSize($font-size--small,$font-size--base)
.title
	text-transform: uppercase
	text-align: center
	padding: 50px 0 20px
	+text($font-family__sans, 1.5rem, $font-weight__sans--medium)
.text
	text-align: center
	+text($font-family__sans, 1.1rem, $font-weight__sans--regular)
	line-height: $line-height
	&-big
		+text($font-family__sans, 1.5rem, $font-weight__sans--black)
.background-color
	background-color: $bg-color
.metalcolor-bg
	background-color: $metalcolor
