body
	font-family: 'Roboto-Regular', 'Helvetica', sans-serif
	font-weight: 400
	+fluidFontSize(10,16)
.title
	text-transform: uppercase
	text-align: center
	font-weight: 500
	font-size: 1.5rem
	padding: 50px 0 40px
	+Roboto-Medium
.hidden
	opacity: 0
	visibility: hidden
.background-color
	background-color: $bg-color
.metalcolor-bg
	background-color: $metalcolor
.btn
	padding: 15px 25px
	width: 150px
	text-transform: uppercase
	border: none
	outline: none
	color: $whitecolor
	background-color: $activecolor
	transition: all 0.3s
	font-size: 0.75rem
	+Roboto-Regular
	&:hover
		cursor: pointer
		box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.3)
		transform: scale(1.01)
.arrow
	padding: 5px
	background-color: transparent
	border: none
	cursor: pointer
	background-position: 0 0
	background-repeat: no-repeat
	background-size: contain
	z-index: 999
	width: 12px
	height: 47px
	&__wrapper
		display: flex
		flex-direction: row
		justify-content: space-between
		width: 100%
	&-left
		background-image: url(../img/left-arrow.png)
	&-right
		background-image: url(../img/right-arrow.png)
	&:focus
		outline: none

.glider-dot
	width: 20px
	height: 20px
	border-radius: 50%
	background-color: $activecolor
	opacity: 0.3
	border: none
	outline: none
	&.active
		background-color: $activecolor
		opacity: 1
	&:hover
		background-color: $activecolor
		opacity: 1
	&--white
		background-color: $whitecolor
	@include _768
		width: 15px
		height: 15px

	// @include _768
	// 	display: none
// .form
// 	&__wrap
// 		margin: 50px 0 20px
// 		display: flex
// 		flex-wrap: wrap
// 	&__title
// 		display: block
// 		margin-bottom: 20px
// 		width: 100%
// 		text-align: center
// 	&__item
// 		width: 50%
// 		margin-bottom: 20px
// 		color: #555555
// 		&--big
// 			width: 100%
// 		@include _480
// 			width: 100%
// 	&__label
// 		padding-left: 15px
// 	&__input

// 	&__email, &__textarea, &__btn
// 		width: 100%
// 	&__textarea
// 		height: 120px
// 		margin-bottom: 50px
// 		resize: none
// 		padding-top: 10px
// 	&__btn
// 		width: 100%
// 		margin: 0 auto
// 		background-color: $metalcolor
// 		background-image: none
// 		opacity: 0.7
// input:invalid
// 	border-color: red
// 	color: red
// 	box-shadow: none
